* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
--white: rgb(255,255,255);
--black: rgb(0,0,0);
--gray: rgb(110,110,110);
--sand: rgba(177,176,161,0.5);
--turquoise: rgba(35,140,150,0.8);
--turquoiseClear: rgba(35,140,150,1);
--oliveClear: rgba(75,137,105,1);
--redClear: rgba(182,26,45,1);
--yellow: rgba(255,236,0,0.3);
--olive: rgba(75,137,105,0.3);
--red: rgba(182,26,45,0.3);
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-image:url(icons/header.jpg) ;
    background-position: cover;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
    
}

h1 {
    width: 50%;
    display: inline-block;
    padding: 1rem 0 1rem 1rem;
    color: var(--white);
    text-shadow: 2px 0px 5px var(--black);
}
#kc {
    padding-right: 1rem;
    text-align: right;
}
/* --- Меню*/
#menu {
    width: 100%;
    background-color: var(--yellow);
    
}
#menu, .elMenu {
    display: inline-block;
    clear: both;
}
#menu :first-child {
    padding: 0.9em 0.5em 0.9em 2em;
    text-align: center;
    background-image: url(icons/add.png);
    background-position: left;
    background-position-x: 7%;
    background-size: 20%;
    background-repeat: no-repeat;
}
#menu :last-child {
    padding: 0.9em 0.5em 0.9em 2em;
    text-align: center;
    background-image: url(icons/search.png);
    background-position: left;
    background-position-x: 12%;
    background-size: 15%;
    background-repeat: no-repeat;
}
.elMenu{
    width: 12%;
    padding: 0.3em 0.7em 0.3em 0.7em;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    margin: 0;
    transition: background-color 0.5s, box-shadow 0.5s;
}
.elMenu:hover {
    cursor: pointer;
    background-color: var(--sand);
    box-shadow: 0.1em 0.1em 0.5em var(--gray);
}
.elMenu:active {   
    transform: translateY(3px);
}
/* --- Конец меню*/


fieldset {
    display: none;
    width: 97vw;
    margin: 1rem auto 1rem auto;
    padding: 0.5rem;
    border:0.2rem solid var(--turquoise);
    border-radius: 0.4rem;
    animation: top 2s ;
}
#comment:focus, #client:focus {
    width: 30rem;
}
input:not(#submitAddItem), select {
    width: 10rem;
    font-size: medium;
    border: 0.1rem solid var(--gray);
    border-radius: 5px;
    margin: 0.3em;
    padding-left: 0.3em;
    transition: width 0.8s ease;
}
input[type="submit"]:not(#submitAddItem) {
    font-size: 1.5em;
    box-shadow: 0.1em 0.1em 0.5em var(--gray);
    cursor: pointer;
    padding: 0.3em 0.3em;
    background-color: var(--turquoiseClear);
    border-color: var(--turquoiseClear);
}
input[type="submit"]:active, #closeAddItem:active {
    transform: translateY(3px);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="checkbox"] {
    accent-color: var(--turquoise);
    transform: scale(1.5);
}
/* --- Конец формы*/

/* --- Форма изменения ячейки*/
#addItemContainer {
    position: fixed;
    display: none;
    background-color: var(--white);
    padding: 0.4em;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em 0.5em var(--black);
    z-index: 1;
    
}

#closeAddItem, #submitAddItem {
    width: 5rem;
    border: none;
    color: var(--white);
    box-shadow: 0.1em 0.1em 0.5em var(--gray);
    font-weight: bold;
    padding: 0.2em;
    border-radius: 0.3em;
}
#submitAddItem {
    margin: 0.4em 0.1em 0.4em 0.1em;
    background-color: var(--oliveClear);
    
    
}
#closeAddItem {
    margin: 0.4em 0.1em 0.4em 0.1em;
    background-color: var(--redClear);
    
}
#inputAddItem, #manInputItem, #manLabelItem, #jobItem, #commentItem {
    display: none;
}
#commentItem {
    font-size: 1rem;
    padding: 0 0.5rem 0 0.5rem;
}
/* --- Конец формы изменения ячейки*/

/* --- Таблица*/
table {
    width: 100%;
}
.col1{width: 5%;}
.col2{width: 8%;}
.col3{width: 8%;}
.col4{width: 7%;}
.col5{width: 15%;}
.col6{width: 9%;}
.col7{width: 9%;}
.col8{width: 15%;}
.col9{width: 10%;}
.col10{width: 8%;}
.col11 {display: none;}
.col12{
    width: 6%;
    padding: 0;       
}
td.col2, td.col3, td.col6, td.col9, td.col10, td.col12 {
    text-align: center;
}
.foto:hover {
    cursor: pointer;
}
table, th, td {
    border-collapse: collapse;
    padding: 0.5em;
    margin: auto;
    text-align: left;    
}
th {
    text-align: center;
}
tr {
border-bottom: 0.01rem solid var(--gray);
}

tr:has(th) {
    position: sticky;
    top:0;
    background-color: var(--white);
}
th,td {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

/* --- Конец таблицы*/

/*---- Всплывающая подсказка*/
.tooltip {
    position: fixed;
    display: none;
    width: auto;
    background-color: var(--gray);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 0.5em 1em;
  
    z-index: 1;
}

/*---- Конец всплывающей подсказки*/
#searchCont {
    display: none;
}
#search {
    position: relative;
    left: 1%;      
    padding: 0.5em;
    font-size: large;
}

/*---- Модальное окно*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 2rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--black);
    background-color: rgba(0, 0, 0, 0.9);
}
#modal-content {
    display: none;
    margin: auto;
    display: block;
    width: auto;
    max-height: 90vh;
}
#modal-content {
    animation: zoom 0.6s;
}


#slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
    z-index: 1;
}
.mySlides {
    display: none;
}
#prev, #next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--white);
    font-weight: bold;
    font-size: 2em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
#next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
#prev:hover, #next:hover {
    background-color: rgba(0,0,0,0.8);
}
#text {
    color: var(--white);
    font-size: 1em;
    padding: 0.5em 1em;
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
    text-shadow: 2px 0px 5px var(--black);
}
#numberText {
    color: var(--white);
    font-size: 1em;
    padding: 1em 1.5em;
    position: absolute;
    top: 0;
}
.fade {
    animation: fade 1.5s;
}
#close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: var(--white);
    font-size: 40px;
    font-weight: bold;
    user-select: none;
    transition: 0.3s;
}
#close:hover, #close:focus {
    color: var(--gray);
    text-decoration: none;
    cursor: pointer;
}

/*---- Конец модального окна*/

footer {
    position: relative;
    background-color: var(--yellow);
    height: 4rem;
    border-top: 0.25rem solid var(--turquoiseClear);
    margin-top: 1.5rem;
}
footer button {
    display: block;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:var(--turquoiseClear);
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    border: 0.1em solid var(--turquoise);
    border-radius: 1rem;
    user-select: none;
}
footer button:active {
    box-shadow: 0.1em 0.1em 0.5em var(--gray);
    transform: translate(-50%, -40%);
}



@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@keyframes open {
    from {opacity:0;}
    to {opacity: 1;}
}
@keyframes closed {
    from {opacity:1;}
    to {opacity: 0;}
}
@media only screen and (max-width: 700px) {
    #modal-content {
        width: 100%;
    }
}